<table class="table table-striped table-fixed">
  <thead>
    <tr>
      <th>日 期</th>
    </tr>
  </thead>
  <tbody>
    {{#each histories as |history|}}
      <tr {{action "showDetail" history}}>
        <td>
          {{history.title}} - {{history.createTime}}
          <div class="history-ops">
            {{!-- <i class="iconfont icon-minus text-bold"></i> --}}
            <div class="operation-del" {{action "delItem" history}}>
              删除
            </div>
            <div class="operation-edit" onclick={{action "edit" history}}>
              修改
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
